apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: deviceshifu-camera-deployment
  name: deviceshifu-camera-deployment
  namespace: deviceshifu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deviceshifu-camera-deployment
  template:
    metadata:
      labels:
        app: deviceshifu-camera-deployment
    spec:
      containers:
      - image: edgehub/deviceshifu-http-http:nightly
        name: deviceshifu-http
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: deviceshifu-config
          mountPath: "/etc/edgedevice/config"
          readOnly: true
        env:
        - name: EDGEDEVICE_NAME
          value: "edgedevice-camera"
        - name: EDGEDEVICE_NAMESPACE
          value: "devices"
      - image: edgehub/camera-python:v0.0.1
        name: camera-python
        ports:
        - containerPort: 9000
        volumeMounts:
        - name: deviceshifu-config
          mountPath: "/etc/edgedevice/config"
          readOnly: true
        env:
        - name: EDGEDEVICE_NAME
          value: "edgedevice-camera"
        - name: EDGEDEVICE_NAMESPACE
          value: "devices"
        - name: IP_CAMERA_ADDRESS
          value: "192.168.0.66"
        - name: IP_CAMERA_HTTP_PORT
          value: ""
        - name: IP_CAMERA_RTSP_PORT
          value: ""
        - name: IP_CAMERA_USERNAME
          value: "guest"
        - name: IP_CAMERA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: deviceshifu-secret
              key: rtsp_password
              optional: false
        - name: IP_CAMERA_CONTAINER_PORT
          value: "8000"
        - name: PYTHONUNBUFFERED
          value: "1"
      volumes:
      - name: deviceshifu-config
        configMap:
          name: camera-configmap-0.0.1
      serviceAccountName: edgedevice-sa
