name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
      - name: Install pcap
        run: sudo apt-get install libpcap-dev
      - name: Run coverage
        run: make test
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage_tdengine.out,./coverage.out
          name: codecov-shifu
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true
