name: Auto Generate Release Log

on:
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
      previous_tag_name:
        required: true
        type: string
      target_commitish:
        required: true
        type: string
  schedule:
    - cron: '30 15 * * 1' # 15:30 Mon 
    - cron: '30 15 * * 4' # 15:30 Thu

permissions:
  contents: write
  pull-requests: write

jobs:
  generate_changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v4
        with:
          go-version: "1.22.x"

      - name: get latest tag
        if: github.event_name != 'workflow_dispatch'
        id: get_latest_tag
        run: | 
          git fetch --tags
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "::set-output name=LATEST_TAG::${latest_tag}"

      - name: set version by manual
        if: github.event_name == 'workflow_dispatch'
        id: set_version
        run: |
          new_tag="${{ github.event.inputs.tag_name }}"
          current_tag="${{ github.event.inputs.previous_tag_name }}"
          echo "NEW_TAG=${new_tag}" >> "$GITHUB_ENV"
          echo "PREVIOUS_TAG=${current_tag}" >> "$GITHUB_ENV"
        env:
          GITHUB_ENV: ${{ env.GITHUB_ENV }}

      - name: set version by automatic
        if: github.event_name != 'workflow_dispatch'
        id: set_version_auto
        run: |
          current_tag="${{ steps.get_latest_tag.outputs.LATEST_TAG }}"
          current_version=$(echo "${current_tag}" | cut -d'.' -f2)
          next_version=$((current_version + 1))
          week_number=$(( ($(date +%s) / (60*60*24*7)) % 2 ))
          if [ "$week_number" -eq 0 ]; then
            new_tag="v0.${next_version}.0-rc1"
          else
            new_tag="v0.${next_version}.0"
          fi
          echo "NEW_TAG=${new_tag}" >> "$GITHUB_ENV"
          echo "PREVIOUS_TAG=${current_tag}" >> "$GITHUB_ENV"
        env:
          GITHUB_ENV: ${{ env.GITHUB_ENV }}

      - name: parse env (for scheduled runs)
        if: github.event_name != 'workflow_dispatch'
        run: |
          current_tag="${{ steps.get_latest_tag.outputs.LATEST_TAG }}"
          current_version=$(echo "${current_tag}" | cut -d'.' -f2)
          next_version=$((current_version + 1))
          new_tag="v0.${next_version}.0"
          echo "VERSION=${new_tag}" >> "$GITHUB_ENV"
          echo "PREVIOUS_TAG=${current_tag}" >> "$GITHUB_ENV"
          echp "Print env:VERSION and env:PREVIOUS_TAG"
          echo "VERSION=${new_tag}"
          echo "PREVIOUS_TAG=${current_tag}"
      - name: generate changelog
        # if: github.event_name == 'workflow_dispatch'
        run: |
          set -e
          target_commitish="${{ github.event.inputs.target_commitish || 'main' }}"
          response=$(curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/Edgenesis/shifu/releases/generate-notes \
          -d '{"tag_name":"${{ env.NEW_TAG }}","target_commitish":"'"${target_commitish}"'","previous_tag_name":"${{ env.PREVIOUS_TAG }}"}')
          response=$(echo "$response" | sed 's/^```//;s/```$//')
          echo $response
          go run tools/release/release.go "$response"
        env:
          AZURE_OPENAI_APIKEY: ${{ secrets.AZURE_OPENAI_APIKEY }}
          AZURE_OPENAI_HOST: ${{ secrets.AZURE_OPENAI_HOST }}
          DEPLOYMENT_NAME: ${{secrets.DEPLOYMENT_NAME}}
          GITHUB_ENV: ${{ env.GITHUB_ENV }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: add changelog for ${{ env.NEW_TAG }}
          title: add changelog for ${{ env.NEW_TAG }}
          body: add changelog for ${{ env.NEW_TAG }}
          branch: changelog-${{ env.NEW_TAG }}
          base: main
